html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 20px;
  margin-bottom: 60px;
}

.container {

}
.autoindex-info {
  padding: 40px 15px;
  text-align: center;
}

.files-list {

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #eeeeee;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.container .text-muted {
  margin: 4px 0;
}
