.content-wrapper .panel-value .key-info-block .key-string {
    display: block;
    margin-top: 0.4em;
    word-break: break-word;
    white-space: pre-wrap;
}

.content-wrapper .panel-value .value-info-block textarea {
    resize: none;
}